@import "../../../../../styles/Mixins.scss";
@import "../../../../../styles/Variables.scss";

@keyframes changeBackground {
    from {
        background-color: color-mix(in srgb, rgba($black,.2) 70%, rgba($jet,.2) 20%);
        border-bottom:1px solid rgba($jet, .9);
        
    }
    to {
        background-color: color-mix(in srgb, rgba($black,.99) 20%, rgba($jet,.99) 70%);
        border-bottom:1px solid rgba($jet, 0);

    }
}

.wrapper {
    @include size(6.77rem, 100%);
    animation: changeBackground .12s ease-in-out forwards ;
    animation-timeline:scroll(y);
    animation-range:entry 0 cover 1%;
    backdrop-filter: blur(1px) grayscale(100%);
    border-bottom:1px solid rgba($jet, .9);
    display: grid;
    grid-template-columns: 12rem calc(100% - 12rem - 6rem) 6rem;
    left:0;
    padding:0rem 1.5vw;
    position: fixed;
    top:0;
    transition:.12s linear all;
    z-index: 99;
}

.brand {
    @include flex(center, flex-start);
    @include font(3rem, 400, 1, null, null, start);
    @include size(100%,100%);
    font-family: $anton;
    padding: 0rem 1.2rem;
    transition:.12s linear color;
    &:hover {
        color:$green-spring;
    }
}

.menu {
    @include flex(center, flex-end, row nowrap, 1rem , 1rem);
    padding: 0rem 1rem 0rem 0.6rem;
}

.menu_item {
    @include font(1.55rem, 400, 1, null, null,center);
    color:$silver;
    font-family: $mono;
    position: relative;
    transition:.12s linear color;
    &::before {
        @include size(1px, 100%);
        background-color: $white;
        bottom: -.2rem;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: .12s linear transform;
    }
    &:focus-within,
    &:hover {
        color:$white;
        &::before {
            transform: scaleX(1)
        }
    }
}

.settings {
    @include flex(center, flex-end, row nowrap, .3rem, .3rem);
    padding: 0rem 0.4rem 0rem 0.55rem;
}