@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

@keyframes close {
    0% {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
        visibility: hidden;
    }
}
@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(100%);
        visibility: hidden;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
    }
}

.wrapper {
    @include size(calc(100vh - 6.77rem), 100%);
    background: $black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    opacity: 0;
    position: fixed;
    top:6.77rem;
    transform: translateY(100%);
    visibility: hidden;
    z-index: 99;
    &[data-open=true]{
        animation: open .32s ease-in-out forwards;
    }
    &[data-open=false]{
        animation: close .32s ease-in-out forwards;
    }
}

.categories,
.subcategories {
    @include flex(flex-start,flex-start,column, 1rem, 2rem);
    grid-column: 1/-1;
    grid-row: 1;
    padding: 4rem;
}

.categories {
    background-color: color-mix(in srgb, $jet 20%, $black 20%);
    z-index: 1;
}

.subcategories {
    background-color: color-mix(in srgb, $jet 46%, $black 55%);
    z-index: 2;
}

.category,
.subcategory {
    @include font(unset, 400, 1, uppercase, null, start);
    font-family: $anton;
    margin:0 auto;
    width:90%;
}

.category {
    @include flex(center,flex-start, row nowrap, .95rem);
    font-size:clamp(3rem, 4.2vw, 5.15rem);
    height: 5.61rem;
    transition:.12s linear color;
    &:focus-within,
    &:hover {
        color:$green-malachite;
    }
}

.category__button {
    @include flex(center,center);
    @include size(4.2rem, 4.2rem);
    border-radius: 1rem;
    background-color: color-mix(in srgb, $jet 80%, $black 20%);
    color:$white;
    font-size: 2.3rem;
    transition:.12s linear background-color, .12s linear color;
    &:hover {
        background-color: color-mix(in srgb, $jet 20%, $green-lime 80%);
        color:$black;
    }
}

.subcategory {
    color:color-mix(in srgb, $white 60%, $silver 40%);
    font-size:clamp(2.5rem, 3vw, 3.64rem);
    transition:.12s linear color;
    &:focus-within,
    &:hover {
        color:$green-pastelle;
    }
}

.return {
    @include flex(center, center, row nowrap, .45rem);
    background-color: $green-tea;
    border-radius: .42rem;
    padding: 1rem 2.2rem;
    transition:.12s linear background-color;
    &:hover {
        background-color: $silver;
    }
}

.return__label {
    @include font(1.9rem, 500, 1, uppercase,null,center);
}


@media only screen {
    @media (max-width:950px){
        .subcategories {
            &[data-submenu=true]{
                animation: open .22s ease-in-out forwards;
            }
            &[data-submenu=false]{
                animation: close .22s ease-in-out forwards;
            }
        }
    }
    @media (min-width:950px){
        .categories {
            grid-column: 1;
        }
        
        .subcategories {
            grid-column: 2;
        }
        .return {
            display: none;
        }
    }
}