@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.pagination {
    @include flex(center,flex-end, row wrap, 1rem, 1rem);
    background:rgb(103, 90, 92);
    margin:1rem auto;
    font-family: $mono;
    font-size: 1.9rem;
    width:clamp(5rem, 120rem, 90%);
}

.nextButton,
.prevButton {
    @include flex(center,center);
    @include size(3.5rem, 3.5rem);
    font-size: 3.2rem;
    color:$green-malachite;
    & > * {
        @include flex(center,center);
    }
}

.disabled {
    color:$jet;
}

.nextButton {
    margin-right: 2rem;
}

.prevButton {
    margin-left: 2rem;
}